body{
			/*background: aquamarine;*/
    		margin: 0;
			}
	/*           Header              */
			header{
				background: #45a8cefa;
			}
			.navbar > ul {
 			   	margin-left: 90px;
			}
			.navbar li {
  				display: inline-block;
   				padding: 15px;
   			 	color: white;
   			 	font-family: "Calibri";
   				font-size: 18px;
   			}
   			.navbar li.right{
   				float: right;
   			}
   			.navbar li a {
    			color: white;
    			text-decoration-line: none;
			}
			.navbar li.right-mar{
				margin-right: 125px;
			}
	/*           End Header          */  

	/*           Recipe              */
			.container {
   				width: 90%;
    		 	/*background: orange;*/
   			 	margin: 50px auto 0;
			}
			.recipe_container {
   			 	width: 90%;
   			 	margin: 0 auto;
    			/*background: aquamarine;*/
			}
			section .recipe_container > .recipe {
   			 	width: 240px;
   			 	/* height: 270px; */
   			 	display: inline-block;
   			  	/*background: blue; */
   			  	margin-left: 2px;
			}
			section .recipe_container > div >img {
  			  	width: 230px;
  			  	height: 345px;
			}
			.recipe_text h3 {
  				font-family: Swis721 BT;
			}
			.recipe_text h3, .recipe_text p  {
				text-align: center;
				background: white;
				font-family: "Calibri";
				font-weight: 600;
			}
			
	/*           End Recipe          */  

	/*           Team               */
			.team_container {
    			background: #1aa1bfd9;
    			border: 1px solid aquamarine;
     			margin-top: 60px; 
     			height: 615px;
    			/* width: 99%; */
    			/* background: pink; */
    			/* padding: 0; */
			}
			.team_container  h1, .team_container  p{
				margin: 0;
				color: white;
				text-align: center;
			} 
			.team_header{
			margin-top: 105px;
    			margin-bottom: 50px;
    			/*background: orange;*/
			}
			.team_header .heading_1{
				font-size: 32;
			}
			.team_header p{
				font-family: "calibri";
				font-size: 20px;
			}
			.team {
    			width: 65%;
    			margin: 0 auto;
    			/*background: chartreuse;*/
			}
			.team_group {
    			width: 224px;
    			height: 360px;
    			border: 1px solid #91D7E6;
    			border-radius: 6px;
    			text-align: center;
    			/*background: blueviolet;*/
    			display: inline-block;
    			/* margin: 0 auto; */
   			margin-left: 13px;
			}
			.team_group > img {
        		width: 170px;
    			height: 170px;
    			/* border: 1px solid black; */
    			border-radius: 50%;
    			margin-top: 40px;
			}
			.team_profile {
    			margin-top: 45px;
    			margin-bottom: 45px;
			}
			.team_profile .heading_2 {
   				font-family: "Georgia";
    			font-size: 30px;
			}
			.team p {
    			font-size: 22px;
   				font-family: "calibri";
			}    
	/*           End Team            */

	/*           Background          */
			.map_back div{
    			display: inline-block;
			}
			.background {
    			background-image: url(images/foodTech.png);
    			background-size: cover;
    			height: 454px;
   				width: 759px;
    			margin-left: -4px;
			}  
	/*           End Background           */